.controls {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  grid-area: a;
}

.editor {
  display: grid;
  grid-template-areas:
    'a a a'
    'b c c'
    'b c c';
  // grid-template-rows: 1fr minmax(1fr, max-content);
  align-items: center;
  justify-content: stretch;
  row-gap: 1rem;
  column-gap: 1rem;
}

.menu {
  grid-area: b;
  align-self: self-start;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  scroll-margin-top: 21rem;
  max-height: calc(100vw - 21rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5px;

  &__item {
    display: flex;
    gap: var(--spacing-small);
  }
}

.stage {
  grid-area: c;
  display: flex;
  justify-content: center;
}
